nav {
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    height: 40px;
}

li {
    color: black;
    list-style: none;
    padding: 0 10px;
}

li:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

ul {
    display: flex;
    flex-direction: row;
}